---
import type { BlockList } from "@/types/directusCollection";
import Section from "@/layouts/Section.astro";
import Button from "@/components/ui/Button.astro";

const { tagline, headline, description, jobs: list } = Astro.props;
---

<Section
  id="block-list"
  fullWidth
  class="flex flex-col gap-12 px-6 py-52 text-pretty"
>
   <header class="w-full">
    <h2 class="text-xl relative uppercase desc-text tracking-wider text-neutral-500 mb-1">
      {tagline}
    </h2>
    <h4 class="text-5xl md:text-[5vw] uppercase desc-title font-light leading-tight tracking-tighter">
      {headline}
    </h4>
    <div class="flex gap-6 flex-wrap mt-5 max-w-2xl">
          <p class="text-2xl font-thin desc-text ">
        {description}
      </p>
    </div>
  </header>


  <div class="flex flex-col gap-16 w-full">
    {list?.map((job) => (
      <div class="flex flex-col gap-4">
        <h4 class="text-4xl font-semibold desc-title">
          {job.title} <span class="font-light">@ {job.company}</span>
        </h4>
        <span class="text-lg desc-title text-neutral-500">
          {job.location} | {job.date}
        </span>
        <ul class="desc-text list-disc pl-6 space-y-2">
          {job.bullets.map((point: string, idx: number) => (
            <li >{point}</li>
          ))}
        </ul>
      </div>
    ))}
  </div>
</Section>
