---
import type { BlockForm, Forms, FormFields } from '@/types/directusCollection';
import Section from '@/layouts/Section.astro';

const {
  meta_header_block_form,
  tagline,
  headline,
  form,
} = Astro.props as BlockForm & { form: Forms };

const layoutIsValid = form?.is_active && form.fields?.length;
---

{layoutIsValid && (
<Section id="blockform" class="py-12 w-full">
  <div class=" px-4 text-center">
    {meta_header_block_form && (
    <span class="text-sm font-semibold text-indigo-600 uppercase">
      {meta_header_block_form}
    </span>
    )}
    <div class="text-left">
       {tagline && (
      <p
        class="text-sm text-gray-500 uppercase tracking-wide">
        {tagline}
      </p>
      )}
      {headline && (
      <h1
        class="text-5xl  md:text-5xl lg:text-6xl  xl:text-8xl leading-tight tracking-tight  text-gray-900"  
      >{headline}</h1>
      )}

    </div>
      <form id="block-form" class="mt-8 space-y-6 text-left">
      {form.fields.map((field: FormFields) => {
      const { id, label, name, placeholder, required, type } = field;
      if (!name) return null;

      return (
      <div id={id}>
        {label && (
        <label for={name} class="block text-sm font-medium mb-1">
          {label}
        </label>
        )}
        {type === 'textarea' ? (
        <textarea
          id={name}
          name={name}
          placeholder={placeholder ?? ''}
          required={required}
          class="block w-full border border-gray-300 rounded-md px-3 py-2"
          rows="4"
        />
        ) : (
        <input
          type={'text'}
          id={name}
          name={name}
          placeholder={placeholder ?? ''}
          required={required}
          class="block w-full border border-gray-300 rounded-md px-3 py-2"
        />
        )}
      </div>
      );
      })}

      <button 
        type="submit"
        class="flex mt-14  capitalize px-16 py-20  md:px-22 md:py-28 text-pretty bg-gray-900/50  rounded-full text-white font-medium hover:bg-gray-900/90 transition text-2xl justify-self-center">
        Submit
      </button>
    </form>

    <p id="form-success" class="mt-8 text-green-600 text-lg hidden">
      {form.success_message ?? 'Thank you for submitting the form.'}
    </p>
  </div>
  <script src="./BlockForm.barba.ts"/>
</Section>
)}

