---
import MasonGrid from '@/components/ui/MasonGrid.astro'
import BlockExperience from '@/components/blocks/BlockExperience/BlockList.astro'
import Button from "@/components/ui/Button.astro";
import Section from "@/layouts/Section.astro";
import type { BlockButton, BlockDescription } from "@/types/directusCollection";

const props = Astro.props as BlockDescription;
const { tagline, headline, description, button_group } = props;

const buttons: BlockButton[] =
  typeof button_group === "object" && Array.isArray(button_group?.buttons)
    ? (button_group.buttons as BlockButton[] )
    : [];

const images: PinterestImage[] = [
  {
    id: "hope-media-group",
    imageUrl: "a31c6231-8b2c-4f90-a6a7-c842e08c5240", // replace with your project cover
    title: "Hope Media Group – Full Stack Platform Overhaul",
    width: 1200,
    height: 800,
    tags: ["FullStack", "CMS", "Next.js", "React", "AWS"],
    slug: '/project/hopestack',
  },
  // Add other projects here
];

const categories = ["Architecture", "Nature", "Workspace", "Abstract", "Fashion"];
---

<Section
  id="block-description"
  fullWidth
  class={`min-h-screen py-12 w-full flex flex-col  items-center justify-between gap-5  md:justify-between px-6
`}
>
 <div class="w-full flex flex-col justify-start">
        <div class="max-w-6xl">
          <h2 class="text-xl desc-text  relative uppercase tracking-wider text-neutral-500 mb-1  ">
        {tagline}
          </h2>
      <h4 
        id=''
        class=" desc-title text-5xl md:text-[5vw] leading-[.89]  uppercase font-light ">
        {headline}
          </h4>
        </div>
      </div>
      <div class="w-full flex justify-end">
        <div class="max-w-2xl space-y-6">
      <p  
        id=''
        class=" desc-text text-2xl font-thin mt-24">
        {description}
          </p>
          <!-- <a class="capitalize text-2xl" href="/about"> -->
          <!--   More About me -->
          <!-- </a> -->
        </div>

    </div>
<BlockExperience />
  <MasonGrid 
 sectionTitle="Selected Work"
  subtitle="From Vision to Version"
  categories={categories}
  images={images}
  />
      <script src="./BlockDescription.barba.ts"></script>
</Section>

